body, h1, h2, h3, p, ul, li, button, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 30px;
    color: white; 
}

.header-title {
    margin: 0;
    flex-grow: 1; 
}

.header-buttons {
    display: flex;
    gap: 10px; 
}


nav {
    background-color: #444;
    color: #fff;
    width: 250px;
    float: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #555;
}


main {
    margin-left: 260px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}


.success-message {
    color: #28a745;
    font-weight: bold;
}


.error-message {
    color: #dc3545;
    font-weight: bold;
}


.dashboard-welcome {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dashboard-welcome h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard-welcome p {
    font-size: 18px;
    line-height: 1.4;
}
